/* ----------------------------------------------------
                          Common 
------------------------------------------------------- */
body {
  font: normal 16px/1.5 "Georgia, serif", sans-serif;
  background: #fbfbfc;
  color: #000;
  overflow-x: hidden;
  padding-bottom: 50px;
  max-width: 800px;
  margin-left: 20%;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.grid-row {
  box-sizing: border-box;
}

.ml-5 {
  margin-left: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.blue {
  color: #3597d3
}

.grey {
  color: #939598;
}

.container {
  position: absolute;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.width-25-percent {
  width: 25%;
}

.success-icon {
  color: #57af99;
}

.danger-icon {
  color: #4c5565;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button.active {
  background-color: #3597d3;
}

.button.disabled {
  background-color: #d0d1d7;
}

.label {
  padding: 5px 15px 5px 15px;
  width: 4%;
  margin-left: 46%;
  font-weight: bold;
}

.info-label {
  background-color: #3597d3;
  color: white;
}

/* ----------------------------------------------------
                          Heading 
------------------------------------------------------- */
.heading {
  margin: 25px;
}

.heading h2 {
  color: #e84c3c;
  margin-left: 45%;
}

.heading-title {
  background-color: #e7e8e9;
  padding: 10px;
  border:  2px solid #d0d1d7;
  border-bottom-width: 1px;
  border-radius: 15px 15px 0px 0px;
}

.heading .action-buttons {
  font-size: 26px;
}

.heading .action-buttons i:first-child {
  margin-right: -5px;
}

.heading .heading-body {
  font-size: 125%;
  padding: 10px 50px 10px 50px;
  border: 2px solid #d0d1d7;
  border-radius: 0px 0px 15px 15px;
}

.heading .heading-summary {
  text-align: center
}

.heading .heading-summary i {
  margin-right: 8px;
}

.heading .heading-buttons {
  padding: 15px;
}

.heading .heading-buttons .button {
  margin: 3px;
}

/* ----------------------------------------------------
                          Timeline 
------------------------------------------------------- */
.timeline ul {
  margin-top: 4px;
}
/* Timeline dots */
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: #3597d3;
}
 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

/* Timeline elements */
/* Parent elements */
.timeline ul li div.content {
  position: relative;
  top: 146px;
  bottom: 0;
  width: 284px;
  padding: 15px;
  background: #fff;
}

.timeline ul li div.icon {
  position: relative;
  bottom: 0;
  top: 191px;
  width: 140px;
  padding: 15px;
  background: #fff;
}

.timeline ul li div.author {
  position: relative;
  bottom: 0;
  top: 140px;
  width: 100px;
  background: #fff;
}
 
.timeline ul li div.content::before {
  content: '';
  position: absolute;
  top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Child elements */
.timeline .event-type {
  font-weight: bold;
  padding: 5px;
  line-height: 37px;
  position: relative;
}

/* Icon */
.timeline .icon .event-icon {
  font-size: 150%;
}

.timeline .icon .event-time {
  font-size: 80%;
  left: -6px;
  top: -6px;
  position: relative;
}

/* Content */
.timeline .content .event-date .day-number {
  font-size: 200%;
}

.timeline .content .event-date .month-year {
  font-size: 80%;
  left: -2px;
  top: -6px;
  position: relative;
}

/* Odd elements */
.timeline ul li:nth-child(odd) div.content {
  left: 45px;
  box-shadow: 1px 1px 1px 1px #c3c3c3;
}
 
.timeline ul li:nth-child(odd) div.content::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #c3c3c3 transparent transparent;
}

.timeline ul li:nth-child(odd) div.icon {
  left: -175px;
}

.timeline ul li:nth-child(odd) div.author {
  left: 270px;
}

/* Even elements */
.timeline ul li:nth-child(even) div.content {
  right: 350px;
  box-shadow: 1px 1px 1px 1px #c3c3c3;
}
 
.timeline ul li:nth-child(even) div.content::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #c3c3c3;
}

.timeline ul li:nth-child(even) div.icon {
  left: 20px;
}

.timeline ul li:nth-child(even) div.icon .event-type {
  left: 20px;
}

.timeline ul li:nth-child(even) div.author {
  left: -124px;
}

/* ----------------------------------------------------
                          Popup 
------------------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup input, .popup textarea, .popup select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup input[type=submit]:hover {
    background-color: #45a049;
}